:root {
  --lt-blue: aliceblue;
  --dk-blue: dodgerblue;
  --light-gray: rgb(228, 228, 228);
}


#all-app {
  background-color: var(--light-gray);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin-bottom: 1rem;
  padding: 1rem;
  border-bottom: 1px solid var(--dk-blue);
  background-color: aliceblue;
}

.app-header {
  font-size: 50px;
  font-weight: bolder;
}

.app-body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
  
}

#welcome {
  background-color: white;
  text-align: center;
  order: 2;
  padding: 20px;
  margin-left: 20px;
  width: 400px;
  /* height: 120px; */
}

#login-menu {
  order: 1;
  text-align: center;
  height: 90px;
}

.login-signup-form {
  display: flex;
  flex-direction: column;
  margin-top: 250px;
  background-color: white;
  height: 400px;
  width: 300px;
  /* justify-content: center; */
  align-items: baseline;
  padding: 40px;
}

/* header a,
header button {
  font-size: 1rem;
  display: inline-block;
  background-color: var(--gray);
  border: 1px solid var(--blue);
  margin: 1rem;
  padding: 1rem;
  text-decoration: none;
  color: var(--cream);
  cursor: pointer;
  border-radius: 20px;
} */

.header-element {
  font-size: 1rem;
  display: inline-block;
  background-color: var(--gray);
  border: 1px solid var(--blue);
  /* border: none; */
  margin: 1rem;
  padding-bottom: .5rem;
  text-decoration: none;
  color: var(--cream);
  cursor: pointer;

}


ul {
  list-style: none;
  align-items: left;
}

li {
  list-style: none;
}

/* #projects-page {
  display: flex;
  justify-content: center;
} */

#all-projects {
  display: flex;

}

.new-project h3{
  cursor: pointer;
}

.new-task h3{
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}

.task {
  cursor: pointer;
}
